################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Docker
/SharedKernel/bin/Debug/net8.0
/SharedKernel/obj
/src/Modules/Orders/Modules.Orders.Application/bin/Debug/net8.0
/src/Modules/Orders/Modules.Orders.Application/obj
/src/Modules/Orders/Modules.Orders.Domain/bin/Debug/net8.0
/src/Modules/Orders/Modules.Orders.Domain/obj
/src/Modules/Orders/Modules.Orders.Infrastructure/bin/Debug/net8.0
/src/Modules/Orders/Modules.Orders.Infrastructure/obj
/src/Modules/Portfolio/Modules.Portfolio.Domain/bin/Debug/net8.0
/src/Modules/Portfolio/Modules.Portfolio.Domain/obj
/src/Modules/Portfolio/Modules.Portfolio.Application/bin/Debug/net8.0
/src/Modules/Portfolio/Modules.Portfolio.Application/obj
/src/Modules/Portfolio/Modules.Portfolio.Infrastructure/bin/Debug/net8.0
/src/Modules/Portfolio/Modules.Portfolio.Infrastructure/obj
/src/Modules/Price/Modules.Price.Domain/bin/Debug/net8.0
/src/Modules/Price/Modules.Price.Domain/obj
/src/Modules/Price/Modules.Price.Infrastructure/bin/Debug/net8.0
/src/Modules/Price/Modules.Price.Infrastructure/obj
/src/Modules/Price/Modules.Price.IntegrationEvents/bin/Debug/net8.0
/src/Modules/Price/Modules.Price.IntegrationEvents/obj
/src/TradeMe.Api/.vs
/src/TradeMe.Api/bin/Debug/net8.0
/src/TradeMe.Api/obj
/tests/ArchitectureTests/bin/Debug/net8.0
/tests/ArchitectureTests/obj
